<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="CIT386ConnectionString" connectionString="Data Source=&quot;srprojdb.cuybsg3vwgxe.us-east-2.rds.amazonaws.com, 1433&quot;;Initial Catalog=caltest;Persist Security Info=True;User ID=awssweitz;Password=DBPassword4RevJacks"
      providerName="System.Data.SqlClient" />
    <add name="CIT386ConnectionString1" connectionString="Data Source=&quot;srprojdb.cuybsg3vwgxe.us-east-2.rds.amazonaws.com, 1433&quot;;Initial Catalog=CIT386;Persist Security Info=True;User ID=awssweitz;Password=DBPassword4RevJacks"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="DBConnString" value="Data Source=srprojdb.cuybsg3vwgxe.us-east-2.rds.amazonaws.com, 1433;Initial Catalog=caltest;Persist Security Info=True;User ID=awssweitz;Password=DBPassword4RevJacks;MultipleActiveResultSets=True"/>
  </appSettings>
</configuration>